body {
	font-family: Verdana, Arial;
	color: #AAA;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
}



.hidden {

	display: none !important;

}

.debugdetails ,
.errordetails,
.showmessage,
.showerror {
	display: none;
	float: left;
	clear: both;
	position: relative;
	background-color: #222;
	color: #EEE;
	text-align: center;
	width: auto;
	height: auto;		
	z-index: 10000;
}

.showmessage,
.showerror {
	border: solid 0px;
	display: block;
	width: 100%;
	text-align: center;
}

.errordetails span,
.debugdetails span,
.showmessage span,
.showerror span {
	display: block;
	width: auto;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;			
}


.debugdetails,
.showmessage {
	border: solid 1px #008800;
}

.errordetails,
.showerror {
	background-color: #664444;
	color: #EE8888 !important;
	border: solid 0px #DFDFDF;
}

/*FOR BOOTSTRAP CSS/JS*/
.alert .showerror,
.alert .showerror span {
	display: inline !important;
	width: auto !important;
	background-color: transparent !important;
	float: none !important;
}

