body {
	font-family: Verdana, Arial;
	color: #333333;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
}

a:link,
a:visited ,
a:hover ,
a:active
 {
	text-decoration: none;
	color: #000000;
}


.hidden {

	display: none !important;

}
.debugdetails ,
.errordetails,
.showmessage,
.showerror {
	display: none;
	float: left;
	clear: both;
	position: relative;
	background-color: #EFEFEF;
	text-align: center;
	width: auto;
	height: auto;		
	z-index: 10000;
}

.showmessage,
.showerror {
	border: solid 0px;
	display: block;
	width: 100%;
	text-align: center;
}

.errordetails span,
.debugdetails span,
.showmessage span,
.showerror span {
	display: block;
	width: auto;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;			
	color: #000000;
}


.debugdetails,
.showmessage {
	border: solid 1px #00BB00;
}

.errordetails,
.showerror {
	background-color: #FFDFDF;
	color: #AA4444 !important;
	border: solid 0px #DFDFDF;
}

