<DIV id="CONTENIDO" class="edicion contenido">

	<div id="TITULO" class="campo">
		<label class="MAD_EDIT_TIT">{CARDTITLE}</label>
		<div  class="MAD_EDIT_FIELD">*TITULO* *ML_TITULO*</div>
	</div>

	<div id="COPETE" class="campo">
		<label class="MAD_EDIT_TIT">{CARDBRIEF}</label>
		<div  class="MAD_EDIT_FIELD">*COPETE* *ML_COPETE*</div>
	</div>

	<div id="DETALLES" class="campo">
		<label class="MAD_EDIT_TIT">{CARDDETAILS}</label>
		<div  class="MAD_EDIT_FIELD">*DETALLES*</div>
	</div>

	<div id="CUERPO" class="campo">
		<label class="MAD_EDIT_TIT">{CARDBODY}</label>
		<div  class="MAD_EDIT_FIELD">*CUERPO*  *ML_CUERPO*</div>
	</div>

	<div id="BAJA" class="campo">
		<label class="MAD_EDIT_TIT">{CARDVERIFIED}</label>
		<div  class="MAD_EDIT_FIELD">*BAJA*</div>
	</div>

	<div class="vista-adicionales">
		<label class="MAD_EDIT_TIT mas-campos" onclick="javascript:togglediv('campos-adicionales_*ID*_');">{CARDMOREFIELDS}+</label>
		<div id="campos-adicionales_*ID*_" class="campos-adicionales">
			<div id="PALABRASCLAVES" class="campo">
				<label class="MAD_EDIT_TIT">{CARDKEYWORDS}</label>
				<div  class="MAD_EDIT_FIELD">*PALABRASCLAVE*  *ML_PALABRASCLAVE*</div>
			</div>

			<div id="FECHAEVENTO" class="campo">
				<label class="MAD_EDIT_TIT">{CARDEVENTDATE}</label>
				<div  class="MAD_EDIT_FIELD">*FECHAEVENTO*</div>
			</div>

			<div id="FECHAALTA" class="campo">
				<label class="MAD_EDIT_TIT">{CARDDATEIN}</label>
				<div  class="MAD_EDIT_FIELD">*FECHAALTA*</div>
			</div>

			<div id="FECHABAJA" class="campo">
				<label class="MAD_EDIT_TIT">{CARDDATEOUT}</label>
				<div  class="MAD_EDIT_FIELD">*FECHABAJA*</div>
			</div>
			
			<div id="CREADOR" class="campo">
				<label class="MAD_EDIT_TIT">{CARDCREATOR}</label>
				<div  class="MAD_EDIT_FIELD">*ID_USUARIO_CREADOR*</div>
			</div>
			
			<div id="EDITOR" class="campo">
				<label class="MAD_EDIT_TIT">{CARDEDITOR}</label>
				<div  class="MAD_EDIT_FIELD">*ID_USUARIO_MODIFICADOR*</div>
			</div>
			
			<div id="ACTUALIZACION" class="campo">
				<label class="MAD_EDIT_TIT">{CARDUPDATE}</label>
				<div  class="MAD_EDIT_FIELD">*ACTUALIZACION*</div>
			</div>			
		</div>
	</div>
	
</div>