<!--
<div class="*ID_TIPOCONTENIDO:FICHA_TIPO*" id="_*IDCONTENIDO*_">
	<div class="resumen">
		<div class="fecha dia">*ALTA DIA*</div>
		<div class="fecha hora">*ALTA HORA*</div>
		<a href="/proyecto/*TITULO:URL*" name="*IDCONTENIDO*">	
		<div class="titulo">*TITULO*</div>
		<div class="fechaevento">*FECHAEVENTO*</div>		
		<div class="imagen"><img src="*#EVENTOS_IMAGEN_THUMB#*" title="*TITULO:URL* *#EVENTOS_IMAGEN#*" alt="*TITULO:URL*" border="0"></div>	
		<div class="copete">*COPETE*</div>
		</a>
		<div class="escenicas">*#PROYECTO_ARCHIVO#*</div>
		
	</div>
</div>
-->

	<div class="col-md-4 portfolio-item">
		<a href="#">
			<img class="img-responsive" src="http://placehold.it/700x400" alt="">
		</a>
		<h3>
			<a href="/proyecto/*TITULO:URL*">*TITULO*</a>
		</h3>
		<p>*COPETE*</p>
	</div>