<table width="90%"  border="0" cellpadding="0" cellspacing="2" class="MAD_CONS_TIT">
		<tr>
		<td width="10" valign="top"><input type="checkbox" name="cb_*IDCONTENIDO*"></td>						
		<td valign="top">
		<table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="#000000">
			<tr>
				<td colspan="1" width="300" class="MAD_CONS_FIELD" align="left" valign="middle"><span class="modulo_admin_titulo">*#PRODUIT_COUNTRY#* - *#PRODUIT_CITY#*</span></td>
				<td colspan="1" width="300" class="MAD_CONS_FIELD" align="left" valign="middle"><span class="modulo_admin_titulo">*TITULO*</span></td>		
				<td class="MAD_CONS_FIELD" align="right" width="120" valign="middle"><span class="modulo_admin_alta">&nbsp;&nbsp; *ALTA DIA* *ALTA HORA*</span></td>
				<td class="MAD_CONS_TIT" align="right" width="10" valign="middle">
					<table cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td><a href="javascript:nuevo(*IDCONTENIDO*)"><img hspace="3" src="../../inc/images/agregar.gif" title="add" width="14" height="17" border="0" alt="add" id="add*IDCONTENIDO*" onMouseOver="javascript:showimg( 'add*IDCONTENIDO*', '../../inc/images/agregar_over.gif');" onMouseOut="javascript:showimg('add*IDCONTENIDO*','../../inc/images/agregar.gif');"></a></td>
							<td><a href="javascript:modificar(*IDCONTENIDO*)"><img hspace="3" src="../../inc/images/editar.gif" title="edit" width="14" height="17" border="0" alt="edit" id="edit*IDCONTENIDO*" onMouseOver="javascript:showimg('edit*IDCONTENIDO*','../../inc/images/editar_over.gif');" onMouseOut="javascript:showimg('edit*IDCONTENIDO*','../../inc/images/editar.gif');"></a></td>
							<td><a href="javascript:borrar(*IDCONTENIDO*)"><img hspace="3" src="../../inc/images/borrar.gif" title="del" width="14" height="17" border="0" alt="delete" id="del*IDCONTENIDO*" onMouseOver="javascript:showimg('del*IDCONTENIDO*','../../inc/images/borrar_over.gif');" onMouseOut="javascript:showimg('del*IDCONTENIDO*','../../inc/images/borrar.gif');"></a></td>
							<td><a href="javascript:upcontenido(*IDCONTENIDO*)"><img hspace="3" src="../../inc/images/upmini.gif" title="up" border="0" alt="up" id="up*IDCONTENIDO*" onMouseOver="javascript:showimg('up*IDCONTENIDO*','../../inc/images/upmini.gif');" onMouseOut="javascript:showimg('up*IDCONTENIDO*','../../inc/images/upmini.gif');"></a></td>
							<td><a href="javascript:downcontenido(*IDCONTENIDO*)"><img hspace="3" src="../../inc/images/downmini.gif" title="down" border="0" alt="down" id="down*IDCONTENIDO*" onMouseOver="javascript:showimg('down*IDCONTENIDO*','../../inc/images/downmini.gif');" onMouseOut="javascript:showimg('down*IDCONTENIDO*','../../inc/images/downmini.gif');"></a></td>
						</tr>
					</table>				
				</td>
			</tr>
			<tr>
				<td colspan="4" width="200" class="MAD_CONS_FIELD" align="left" valign="middle"><span class="modulo_admin_titulo">*NICK*</span></td>
			</tr>
		</table> 
		</td>		
		</tr>
		</table>
