<div id="_*ID*_" class="*ID_TIPOCONTENIDO:FICHA_TIPO*">
	<div id="_*ID*_" class="consulta">
		<div class="selector"><input type="checkbox" name="cb_*ID*">*ORDEN*</div>
		<div class="creador">*USUARIO:NICK*</div>		
		<div class="editor" title="{CARDUPDATE} *ACTUALIZACION*">*EDITOR:NICK*</div>
		<div class="tipo">*ID_TIPOCONTENIDO:FICHA_TIPO*</div>
		<div class="status status*BAJA*"></div>
		<a href="javascript:modificar('*ID*')"><div class="titulo"> *#CIUDADES_PAIS#* | *TITULO*</div></a>
		<div class="fecha dia">*ALTA DIA*</div>
		<div class="fecha hora">*ALTA HORA*</div>
		<div class="acciones">
			<a href="javascript:nuevo(*ID*)" title="{NEW}" class="nuevo"></a>
			<a href="javascript:modificar(*ID*)" title="{EDIT}" class="modificar"></a>
			<a href="javascript:borrar(*ID*)" title="{DELETE}" class="borrar"></a>
			<a href="javascript:upcontenido(*ID*)" title="{UP}" class="arriba"></a>
			<a href="javascript:downcontenido(*ID*)" title="{DOWN}" class="abajo"></a>		
		</div>
	</div>
</div>		
		
