<div class="*ID_TIPOCONTENIDO:FICHA_TIPO*" id="_*IDCONTENIDO*_">
	<div class="resumen">
		<div class="fecha dia">*ALTA DIA*</div>
		<div class="fecha hora">*ALTA HORA*</div>
		<a href="/obras/*TITULO:URL*" name="*IDCONTENIDO*">	
		<div class="titulo">*TITULO*</div>
		<div class="imagen"><img src="*#OBRAS_IMAGEN_THUMB#*" title="*TITULO:URL* *#OBRAS_IMAGEN#*" alt="*TITULO:URL*" border="0"></div>	
		<div class="copete">*COPETE*</div>
		</a>
		<div class="escenicas">*#OBRAS_CATEGORIAS_ESCENICAS#*</div>
		
	</div>
</div>