<hr align="left" style="color:#666666" width="664">
<table border="0" width="664">
  	<tr>
       <td rowspan="2" width="135"><a href="*#PRODUIT_IMAGE#*" rel="lightbox"><img src="*#PRODUIT_IMAGE_THUMB#*" alt="*#PRODUIT_IMAGE#*" height="90" border="0" width="135"></a></td>
       <td rowspan="2" width="160">*#PRODUIT_GALLERY#*</td>       
       <td width="260"><div align="left">{COUNTRYCITY}<a href="{URLREW}" style="text-decoration:none;"><strong>*TITULO* </strong></a></div></td>
       <td width="90" nowrap><div align="left"><span class="style6"><strong>{PRICE}&nbsp;/&nbsp;{PERIOD} </strong></span></div></td>
     </tr>
     <tr>
       <td colspan="2" height="67"><div align="left"><span class="style12">Room(s): *#PRODUIT_ROOMS#*<br>Size : *#PRODUIT_SIZE#* sqm <br>
       Bedroom : *#PRODUIT_BEDROOMS#* | Sleep up : *#PRODUIT_SLEEPUP#* <br>
		<a href="{URLREW}"><strong>More details</strong></a></span>&nbsp;&nbsp;{EDIT}<br></div></td>
		<!-- javascript:showproduct(*IDCONTENIDO*,*IDSECCION*,'listing.php');  -->
     </tr>
  </table>
  <br>