<div id="_*IDCONTENIDO*_" class="*ID_TIPOCONTENIDO:FICHA_TIPO*">
	<div class="completo">
		<div class="fecha alta dia">*ALTA DIA*</div>
		<div class="fecha alta hora">*ALTA HORA*</div>
		<div class="fecha baja dia">*BAJA DIA*</div>
		<div class="fecha baja hora">*BAJA HORA*</div>	
		<div class="nombre">*NOMBRE*</div>		
		<div class="titulo">*TITULO*</div>
		<div class="escenicas">*#OBRAS_CATEGORIAS_ESCENICAS#*</div>		
		[ADDTHIS]()				
		<div class="copete"><a href="*#OBRAS_IMAGEN#*" rel="lightbox"><img src="*#OBRAS_IMAGEN#*" width="300" align="left" border="0"></a>
		[EVENTOSOBRA](*IDCONTENIDO*)
		*COPETE*</div>					
		<div class="cuerpo">			
			*CUERPO*
		</div>	
		<div class="autor">*AUTOR*</div>	
		<div class="fecha evento dia">*FECHAEVENTO DIA*</div>
		<div class="fecha evento hora">*FECHAEVENTO HORA*</div>
			
		<div class="roles">*#OBRAS_ROLES_EN_OBRA#*</div>
		
		<div class="espacios">*#OBRAS_ESPACIOS#*</div>
			
		<div class="festivales">*#OBRAS_FESTIVALES#*</div>
			
		[GALERIAOBRAS](*IDCONTENIDO*)
				
	</div>
</div>