<div class="*ID_TIPOCONTENIDO:FICHA_TIPO*" id="_*IDCONTENIDO*_">
	<div class="resumen">
		<div class="fecha dia">*ALTA DIA*</div>
		<div class="fecha hora">*ALTA HORA*</div>
		<a href="/eventos/*TITULO:URL*" name="*IDCONTENIDO*">	
		<div class="titulo">*TITULO*</div>
		<div class="fechaevento">*FECHAEVENTO*</div>		
		<div class="imagen"><img src="*#EVENTOS_IMAGEN_THUMB#*" title="*TITULO:URL* *#EVENTOS_IMAGEN#*" alt="*TITULO:URL*" border="0"></div>	
		<div class="copete">*COPETE*</div>
		</a>
		<div class="escenicas">*#EVENTOS_OBRAS#*</div>
		
	</div>
</div>