<div class="col-lg-12" style="margin-bottom: 20px !important;">
	<h1 class="page-header" style="margin-bottom: 0px !important;">
		*TITULO*
		<small>Creo, clono, comparto...</small>
	</h1>
	<small class="autor" >{BY} *NOMBRE*</small>
</div>
<div class="PROYECTO completo">
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-6">
			<a href="#">
				<img alt="" src="*#PROYECTO_IMAGENBASE64#*" class="img-responsive imagen">				
			</a>
			<div class="col-md-12">
				<div class="row cuerpo">
					<p>*CUERPO*</p>			
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<h4 class="resumen">*COPETE*</h4>
			
			<a href="*#PROYECTO_ARCHIVO#*" target="_blank" class="btn btn-primary">{DOWNLOADPROJECT}<span class="glyphicon glyphicon-chevron-right"></span></a>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>
