<div id="_*IDCONTENIDO*_" class="ROL_EN_OBRA">
	<div class="completo">
		<div class="fecha alta dia">*ALTA DIA*</div>
		<div class="fecha alta hora">*ALTA HORA*</div>
		<div class="fecha baja dia">*BAJA DIA*</div>
		<div class="fecha baja hora">*BAJA HORA*</div>	
		<div class="nombre">*NOMBRE*</div>
		<div class="titulo">*TITULO*</div>
		<div class="copete">*COPETE*</div>
		<div class="cuerpo">*CUERPO*</div>	
		<div class="autor">*AUTOR*</div>	
		<div class="fecha evento dia">*FECHAEVENTO DIA*</div>
		<div class="fecha evento hora">*FECHAEVENTO HORA*</div>	
	</div>
</div>