<div id="_*IDCONTENIDO*_" class="*ID_TIPOCONTENIDO:FICHA_TIPO*">
	<div class="completo">
		<div class="fecha alta dia">*ALTA DIA*</div>
		<div class="fecha alta hora">*ALTA HORA*</div>
		<div class="fecha baja dia">*BAJA DIA*</div>
		<div class="fecha baja hora">*BAJA HORA*</div>	
		<div class="nombre">*NOMBRE*</div>		
		<div class="titulo">*TITULO*</div>
		<div class="fechaevento dia">*FECHAEVENTO DIA* *FECHAEVENTO HORA*</div>
		<div class="fechaevento hora"></div>				
		<div class="escenicas"></div>
		<div class="espacios">*#EVENTOS_ESPACIO#*</div>	
		<div class="lugar">*#EVENTOS_LUGAR#*</div>
		<div class="obras">*#EVENTOS_OBRAS#*</div>	
		[ADDTHIS]()				
		<div class="copete"><a href="*#EVENTOS_IMAGEN#*" rel="lightbox"><img src="*#EVENTOS_IMAGEN#*" width="300" align="left" border="0"></a>
		*COPETE*</div>					
		<div class="cuerpo">			
			*CUERPO*
		</div>	
		<div class="autor">*AUTOR*</div>	
								
		[GALERIAEVENTOS](*IDCONTENIDO*)	
	</div>
</div>