<!-- 
<tr>
<td>
<table border="0" cellpadding="0" cellspacing="0">
<tr>              
  <td ><span class="noticia_fecha">*FECHAEVENTO DIA*</span><br><a class="noticia_titulo" style="text-decoration:none;" name="noticia*IDCONTENIDO*" href="#noticia*IDCONTENIDO*" onclick="javascript:toggleDivAll('divNOTICIA_*IDCONTENIDO*_');"><span class="noticia_titulo">*TITULO*</span></a></td>
</tr>
<tr>
	<td ><div id="divNOTICIA_*IDCONTENIDO*_" style="display: none; "><span class="noticia_texto">*COPETE*</span></div></td>
</tr>
</table>
</td></tr>

-->

<div id="_*IDCONTENIDO*_" class="*ID_TIPOCONTENIDO:FICHA_TIPO*">
	<div class="resumen">
		<div class="fecha dia">*FECHAEVENTO DIA*</div>		
		<div class="titulo"><a href="/noticias/*TITULO:URL*" name="*IDCONTENIDO*">*TITULO*</a></div>
		<div class="copete">*COPETE*</div>
	</div>
</div>