	<table align="center" border="0" width="674">
                  <!--DWLayoutTable-->
                  <tbody>
                  <tr>
                    <td bgcolor="#330000"><div align="right"><span class="style22">{TYPEOFPROPERTY}: </span></div></td>
                    <td colspan="2">*ID_SECCION*</td>
                  </tr>                  
                  <tr>
                    <td bgcolor="#330000" width="153"><div align="right"><span class="style22">{SELECTCOUNTRY}:</span></div></td>
                    <td colspan="2" class="style11">
                      
                      <div align="left">
                        *#PRODUIT_COUNTRY#*
                        <em>if  the country is missing please contact us</em> </div></td></tr>
                  <tr>
                    <td bgcolor="#330000"><div align="right"><span class="style22">{SELECTCITY}:</span></div></td>
                    <td colspan="2">
                      <div align="left">
                        *#PRODUIT_CITY#* 
                      <span class="style11"><em>if the city is missing please contact us </em></span></div></td>
                  </tr>
                  <tr>
                    <td bgcolor="#330000"><div align="right"><span class="style22">{INTITULATE}: <br>
                      <span class="style20">(35 car. max</span><em>)</em></span></div></td>
                    <td colspan="2">*TITULO* *ML_TITULO*</td>
                  </tr>
                  <tr>
                    <td bgcolor="#330000"><div align="right"><span class="style22">{SIZE}: </span></div></td>
                    <td colspan="2">*#PRODUIT_SIZE#* sqm</td>
                  </tr>
                  <tr>
                    <td bgcolor="#330000"><div align="right"><span class="style22">{TOTALOFROOMS}: </span></div></td>
                    <td colspan="2">*#PRODUIT_ROOMS#*</td>
                  </tr>
                  <tr>
                    <td bgcolor="#330000"><div align="right"><span class="style22">{BEDROOMS}: </span></div></td>
                    <td colspan="2">*#PRODUIT_BEDROOMS#*</td>
                  </tr>
                  <tr>
                    <td bgcolor="#330000"><div align="right"><span class="style22">{SLEEPUP}: </span></div></td>
                    <td colspan="2">*#PRODUIT_SLEEPUP#*</td>
                  </tr>
                  <tr>
                    <td bgcolor="#330000"><div align="right"><span class="style22">{FLOOR}: </span></div></td>
                    <td colspan="2">*#PRODUIT_FLOOR#*</td>
                  </tr>
                  <tr>
                    <td bgcolor="#330000"><div align="right"><span class="style22">{LIFT}: </span></div></td>
                    <td colspan="2">*#PRODUIT_LIFT#*</td>
                  </tr>
                  <tr>
                    <td bgcolor="#330000"><div align="right"><span class="style22">{YOUWANTTORENTPER}&nbsp;: </span></div></td>
                    <td width="286">*#PRODUIT_RENTPER#*</td>
                    <td width="221">&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td colspan="2">&nbsp;</td>
                  </tr>
                  <tr>
                    <td>{RENTPERMONTH}&nbsp;: </td>
                    <td colspan="2"><div id="divrentpermonth" style="display:none">*#PRODUIT_TARIF1MONTH#*</div></td>
                  </tr>
                  <tr>
                    <td>{RENTPERWEEK}&nbsp;: </td>
                    <td colspan="2"><div id="divrentperweek" style="display:none">*#PRODUIT_TARIF1WEEK#*</div></td>
                  </tr>
                  <tr>
                    <td>{RENTPERDAY}&nbsp;: </td>
                    <td colspan="2"><div id="divrentperday" style="display:none">*#PRODUIT_TARIF1DAY#*</div></td>
                  </tr>                    
                  <tr>
                    <td height="22"><div align="left"><strong>{EQUIPMENTS}&nbsp;:</strong></div></td>
                    <td colspan="2"><!--DWLayoutEmptyCell-->&nbsp;</td>
                  </tr>
                  <tr>
                    <td height="22"><!--DWLayoutEmptyCell-->&nbsp;</td>
                    <td colspan="2">*#PRODUIT_EQUIPMENT#*</td>
                  </tr>                                    
                  <tr>
                    <td>&nbsp;</td>
                    <td colspan="2">&nbsp;</td>
                  </tr>
                  <tr>
                    <td><strong>{DESCRIPTION}&nbsp;: </strong></td>
                    <td colspan="2">*COPETE* *ML_COPETE*</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td colspan="2">&nbsp;</td>
                  </tr>
                  <tr>
                    <td><strong>{RATEUP}&nbsp;: </strong></td>
                    <td colspan="2">&nbsp;</td>
                  </tr>
                  <tr>
                    <td>{CURRENCY}&nbsp;: </td>
                    <td colspan="2">*#PRODUIT_DEPOSITCURRENCY#*</td>
                  </tr>                  
                  <tr>
                    <td>{CHARGES}&nbsp;: </td>
                    <td colspan="2">*#PRODUIT_CHARGES#*</td>
                  </tr>                  
                  <tr>
                    <td>{DEPOSIT}&nbsp;: </td>
                    <td colspan="2">*#PRODUIT_DEPOSIT#*&nbsp;{ADVANCEPAYMENT2}</td>
                  </tr>
                  <tr>
                    <td>{ADVANCEPAYMENT}&nbsp;: </td>
                    <td colspan="2">*#PRODUIT_ADVANCEPAYMENT#*&nbsp;{ADVANCEPAYMENT2}</td>
                  </tr>
                  <tr>
                    <td>{RESIDENTIALTAX}&nbsp;: </td>
                    <td colspan="2">*#PRODUIT_RESIDENTIALTAX#*</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td colspan="2">&nbsp;</td>
                  </tr>
                  <tr>
                    <td><strong>{TRANSPORTATION}&nbsp;: </strong></td>
                    <td colspan="2">&nbsp;</td>
                  </tr>
                  <tr>
                  	<td height="22"><!--DWLayoutEmptyCell-->&nbsp;</td>
                    <td colspan="2">*#PRODUIT_TRANSPORT#*</td>
                  </tr>
                  <tr>
                    <td height="22"><!--DWLayoutEmptyCell-->&nbsp;</td>
                    <td colspan="2"><!--DWLayoutEmptyCell-->&nbsp;</td>
                  </tr>
                  <tr>
                    <td height="22"><div align="left"><strong>{LOCALACTIVITIES}&nbsp;:</strong></div></td>
                    <td colspan="2"><!--DWLayoutEmptyCell-->&nbsp;</td>
                  </tr>
                  <tr>
                    <td height="22"><!--DWLayoutEmptyCell-->&nbsp;</td>
                    <td colspan="2">*#PRODUIT_ACTIVITIES#*</td>
                  </tr>
                  <tr>
                    <td height="22"><!--DWLayoutEmptyCell-->&nbsp;</td>
                    <td colspan="2"><!--DWLayoutEmptyCell-->&nbsp;</td>
                  </tr>
                  <tr>
                    <td height="22"><strong>{MAPLOCATION}&nbsp;: </strong></td>
                    <td colspan="2"><!--DWLayoutEmptyCell-->&nbsp;</td>
                  </tr>
                  <tr>
                    <td height="22"><!--DWLayoutEmptyCell-->&nbsp;</td>
                    <td colspan="2">{GOOGLEMAP}<br>
						*#PRODUIT_MAPLOCATION#*</td>
                  </tr>
                  <tr>
                    <td height="22"><!--DWLayoutEmptyCell-->&nbsp;</td>
                    <td colspan="2"><!--DWLayoutEmptyCell-->&nbsp;</td>
                  </tr>
                  <tr>
                    <td height="22"><strong>{PHOTOS}&nbsp;: </strong></td>
                    <td colspan="2"><!--DWLayoutEmptyCell-->&nbsp;</td>
                  </tr>
                  <tr>
                    <td height="22"><!--DWLayoutEmptyCell-->&nbsp;</td>
                    <td colspan="2"><div align="left">{GALLERYINSTRUCTION} <br>  
                        <br>
                    </div></td>
                  </tr>
                  <tr>
                    <td height="22"><!--DWLayoutEmptyCell-->&nbsp;</td>
                    <td colspan="2">*#PRODUIT_IMAGE#*
(Principal)</td>
                  </tr>
                  <tr>
                    <td height="22"><!--DWLayoutEmptyCell-->&nbsp;</td>
                    <td colspan="2"><table border="0" width="342">
                      <tr>
                        <td colspan="2">*#PRODUIT_GALLERY#*</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="22"><!--DWLayoutEmptyCell-->&nbsp;</td>
                    <td colspan="2"><!--DWLayoutEmptyCell-->&nbsp;</td>
                  </tr>
                  <tr>
                    <td height="22"><!--DWLayoutEmptyCell-->&nbsp;</td>
                    <td colspan="2"><input name="Submit" class="style8" value="Validate your add" type="submit"></td>
                  </tr>
                </tbody></table>
		<div style="display:none;">
*CUERPO*
*ML_CUERPO*
*FECHAALTA*
*FECHABAJA*
*ID_TIPOCONTENIDO*
</div>				