<DIV id="SECCION" class="edicion seccion">

	<div id="NOMBRE" class="campo">
		<label class="MAD_EDIT_TIT">{SECTIONNAME}</label>
		<div  class="MAD_EDIT_FIELD">*NOMBRE* *ML_NOMBRE*</div>
	</div>

	<div id="DESCRIPCION" class="campo">
		<label class="MAD_EDIT_TIT">{SECTIONDESCRIPTION}</label>
		<div  class="MAD_EDIT_FIELD">*DESCRIPCION* *ML_DESCRIPCION*</div>
	</div>

	<div id="PALABRASCLAVE" class="campo">
		<label class="MAD_EDIT_TIT">{SECTIONKEYWORDS}</label>
		<div  class="MAD_EDIT_FIELD">*PALABRASCLAVE* *ML_PALABRASCLAVE*</div>
	</div>
	
	<div style="display:none;">
		*CARPETA*
		*RAMA*
		*BAJA*
		*CATEGORIA*
	</div>	
	
</div>



