<div id="_*ID*_" class="*ID_TIPOSECCION:TIPO*">
	<div class="consulta consulta-seccion">
		<div class="selector"><input type="checkbox" name="cb_*ID*"></div>
		<div class="tipo">*ID_TIPOSECCION:TIPO*</div>
		<div class="titulo"><a href="javascript:consultarseccion('*ID*','*ID_TIPOSECCION*')">*NOMBRE*</a></div>
		<div class="acciones">
			<a href="javascript:nuevaseccionhija(*ID*)" title="{NEW}" class="agregar"></a>
			<a href="javascript:modificarseccion(*ID*)" title="{EDIT}" class="modificar"></a>
			<a href="javascript:borrarseccion(*ID*)" title="{DELETE}" class="borrar"></a>
			<a href="javascript:upseccion(*ID*)" title="{UP}" class="arriba"></a>
			<a href="javascript:downseccion(*ID*)" title="{DOWN}" class="abajo"></a>		
		</div>
	</div>
</div>			