<table width="90%"  border="0" cellpadding="0" cellspacing="2" class="MAD_CONS_TIT">
		<tr>
		<td width="10" valign="top"><input type="checkbox" name="cb_*IDCONTENIDO*"></td>						
		<td valign="top">
		<table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="#000000">
			<tr>
				<td width="100" class="MAD_CONS_TIT" align="left" valign="middle"><span class="modulo_admin_tipoficha">*IDTIPOSECCION*</span></td>
				<td colspan="1" class="MAD_CONS_FIELD" align="left" valign="middle"><span class="modulo_admin_titulo">*NOMBRE*</span></td>
			</tr>
			<tr>
				<td colspan="2"  class="MAD_CONS_FIELD">*DESCRIPCION*</td>
			</tr>
		</table> 
		</td>		
		</tr>
		</table>
