<div id="_*ID*_" class="*ID_TIPOCONTENIDO:FICHA_TIPO*">
	<div class="consulta consulta-subcontenido">
		<div class="selector"><input type="checkbox" name="cb_*IDCONTENIDO*"></div>
		<div class="tipo">*IDTIPOCONTENIDO:FICHA_TIPO*</div>
		<div class="status status*BAJA*"></div>
		<div class="titulo"><a href="#edit_*ID*" name="edit_*ID*" onclick="javascript:toggleDivAll('subcontent_*ID*');" title="fn_title[*TITULO*]" >*TITULO*</a></div>
		<div class="fecha dia">*ALTA DIA*</div>
		<div class="fecha hora">*ALTA HORA*</div>	
		<div class="acciones">
			<a href="#edit_*ID*" onclick="javascript:toggleDivAll('subcontent_*ID*');" title="{EDIT}" class="modificar"></a>
			<a href="javascript:upsubcontenido(*ID*)" title="{UP}" class="arriba"></a>
			<a href="javascript:downsubcontenido(*ID*)" title="{DOWN}" class="abajo"></a>		
		</div>
	</div>
</div>			
