<table align="center" border="0" width="409">
	<tr>
         <td bgcolor="#330000" width="176"><div align="right"><span class="style3">{YOUREMAIL}:</span></div></td>
         <td colspan="2"><div align="left">
             <input name="_e_NICK" class="style9" size="35" type="text">
             <br>
             <span class="style16">{YOUREMAILISYOURUSERNAME} </span></div></td>
       </tr>
       <tr>
         <td bgcolor="#330000"><div class="style3" align="right">{PASSWORD}:</div></td>
         <td colspan="2"><div align="left">
             <input name="_e_PASSWORD" class="style9" size="35" type="password">
         </div></td>
       </tr>
       <tr>
         <td bgcolor="#330000"><div class="style3" align="right">{CONFIRMPASSWORD}: </div></td>
         <td colspan="2"><div align="left">
             <input name="_e_PASSWORD_confirm" class="style9" size="35" type="password">
         </div></td>
       </tr>
       <tr>
         <td bgcolor="#330000"><div class="style3" align="right">{YOURCOUNTRY}: </div></td>
         <td colspan="2"><div align="left">
             <select name="_e_PAIS" size="1" class="style9">
               <option value="In which Country ?">Choose a country:</option>
               <option value="Albania">Albania</option>
               <option value="Andorra">Andorra</option>
               <option value="Antigua And Barbuda">Antigua And Barbuda</option>
               <option value="Argentina">Argentina</option>
               <option value="Armenia">Armenia</option>
               <option value="Australia">Australia</option>
               <option value="Austria">Austria</option>
               <option value="Azerbaijan">Azerbaijan</option>
               <option value="Bahamas">Bahamas</option>
               <option value="Bangladesh">Bangladesh</option>
               <option value="Barbados">Barbados</option>
               <option value="Belarus">Belarus</option>
               <option value="Belgium">Belgium</option>
               <option value="Belize">Belize</option>
               <option value="Benin">Benin</option>
               <option value="Bolivia">Bolivia</option>
               <option value="Bosnia And Herzegovina">Bosnia And Herzegovina</option>
               <option value="Botswana">Botswana</option>
               <option value="Brazil">Brazil</option>
               <option value="Britain">Britain</option>
               <option value="British Virgin Islands">British Virgin Islands</option>
               <option value="Brunei">Brunei</option>
               <option value="Bulgaria">Bulgaria</option>
               <option value="Burkina Faso">Burkina Faso</option>
               <option value="Cambodia">Cambodia</option>
               <option value="Canada">Canada</option>
               <option value="Cape Verde">Cape Verde</option>
               <option value="Chile">Chile</option>
               <option value="China">China</option>
               <option value="Colombia">Colombia</option>
               <option value="Cook Islands">Cook Islands</option>
               <option value="Costa Rica">Costa Rica</option>
               <option value="Croatia">Croatia</option>
               <option value="Cuba">Cuba</option>
               <option value="Cyprus">Cyprus</option>
               <option value="Czech Republic">Czech Republic</option>
               <option value="Denmark">Denmark</option>
               <option value="Dominica">Dominica</option>
               <option value="Dominican Republic">Dominican Republic</option>
               <option value="Ecuador">Ecuador</option>
               <option value="Egypt">Egypt</option>
               <option value="El Salvador">El Salvador</option>
               <option value="England">England</option>
               <option value="Estonia">Estonia</option>
               <option value="Fiji">Fiji</option>
               <option value="Finland">Finland</option>
               <option value="France">France</option>
               <option value="French Polynesia">French Polynesia</option>
               <option value="Gambia">Gambia</option>
               <option value="Germany">Germany</option>
               <option value="Ghana">Ghana</option>
               <option value="Greece">Greece</option>
               <option value="Greenland">Greenland</option>
               <option value="Guadeloupe">Guadeloupe</option>
               <option value="Guatemala">Guatemala</option>
               <option value="Haiti">Haiti</option>
               <option value="Holland">Holland</option>
               <option value="Honduras">Honduras</option>
               <option value="Hong Kong">Hong Kong</option>
               <option value="Hungary">Hungary</option>
               <option value="Iceland">Iceland</option>
               <option value="India">India</option>
               <option value="Indonesia">Indonesia</option>
               <option value="Ireland">Ireland</option>
               <option value="Israel">Israel</option>
               <option value="Italy">Italy</option>
               <option value="Jamaica">Jamaica</option>
               <option value="Japan">Japan</option>
               <option value="Jordan">Jordan</option>
               <option value="Kazakhstan">Kazakhstan</option>
               <option value="Kenya">Kenya</option>
               <option value="Kyrgyzstan">Kyrgyzstan</option>
               <option value="Laos">Laos</option>
               <option value="Latvia">Latvia</option>
               <option value="Lebanon">Lebanon</option>
               <option value="Lesotho">Lesotho</option>
               <option value="Liechtenstein">Liechtenstein</option>
               <option value="Lithuania">Lithuania</option>
               <option value="Luxembourg">Luxembourg</option>
               <option value="Macau">Macau</option>
               <option value="Macedonia">Macedonia</option>
               <option value="Madagascar">Madagascar</option>
               <option value="Malawi">Malawi</option>
               <option value="Malaysia">Malaysia</option>
               <option value="Malta">Malta</option>
               <option value="Martinique">Martinique</option>
               <option value="Mauritius">Mauritius</option>
               <option value="Mexico">Mexico</option>
               <option value="Micronesia">Micronesia</option>
               <option value="Moldova">Moldova</option>
               <option value="Monaco">Monaco</option>
               <option value="Mongolia">Mongolia</option>
               <option value="Montenegro">Montenegro</option>
               <option value="Montserrat">Montserrat</option>
               <option value="Morocco">Morocco</option>
               <option value="Mozambique">Mozambique</option>
               <option value="Myanmar">Myanmar</option>
               <option value="Namibia">Namibia</option>
               <option value="Nepal">Nepal</option>
               <option value="Netherlands">Netherlands</option>
               <option value="Netherlands Antilles">Netherlands Antilles</option>
               <option value="New Zealand">New Zealand</option>
               <option value="Nicaragua">Nicaragua</option>
               <option value="Nigeria">Nigeria</option>
               <option value="Northern Ireland">Northern Ireland</option>
               <option value="Norway">Norway</option>
               <option value="Oman">Oman</option>
               <option value="Panama">Panama</option>
               <option value="Papua New Guinea">Papua New Guinea</option>
               <option value="Paraguay">Paraguay</option>
               <option value="Peru">Peru</option>
               <option value="Philippines">Philippines</option>
               <option value="Poland">Poland</option>
               <option value="Portugal">Portugal</option>
               <option value="Puerto Rico">Puerto Rico</option>
               <option value="Qatar">Qatar</option>
               <option value="Reunion">Reunion</option>
               <option value="Romania">Romania</option>
               <option value="Russia">Russia</option>
               <option value="Saint Lucia">Saint Lucia</option>
               <option value="Samoa">Samoa</option>
               <option value="Scotland">Scotland</option>
               <option value="Senegal">Senegal</option>
               <option value="Serbia">Serbia</option>
               <option value="Seychelles">Seychelles</option>
               <option value="Singapore">Singapore</option>
               <option value="Slovakia">Slovakia</option>
               <option value="Slovenia">Slovenia</option>
               <option value="South Africa">South Africa</option>
               <option value="South Korea">South Korea</option>
               <option value="Spain">Spain</option>
               <option value="Sri Lanka">Sri Lanka</option>
               <option value="Swaziland">Swaziland</option>
               <option value="Sweden">Sweden</option>
               <option value="Switzerland">Switzerland</option>
               <option value="Syria">Syria</option>
               <option value="Taiwan">Taiwan</option>
               <option value="Tanzania">Tanzania</option>
               <option value="Thailand">Thailand</option>
               <option value="Tonga">Tonga</option>
               <option value="Trinidad and Tobago">Trinidad and Tobago</option>
               <option value="Tunisia">Tunisia</option>
               <option value="Turkey">Turkey</option>
               <option value="UK">UK</option>
               <option value="US Virgin Islands">US Virgin Islands</option>
               <option value="USA">USA</option>
               <option value="Uganda">Uganda</option>
               <option value="Ukraine">Ukraine</option>
               <option value="United Arab Emirates">United Arab Emirates</option>
               <option value="Uruguay">Uruguay</option>
               <option value="Uzbekistan">Uzbekistan</option>
               <option value="Vanuatu">Vanuatu</option>
               <option value="Venezuela">Venezuela</option>
               <option value="Vietnam">Vietnam</option>
               <option value="Wales">Wales</option>
               <option value="Zambia">Zambia</option>
               <option value="Zimbabwe">Zimbabwe</option>
             </select>
         </div></td>
       </tr>
       <tr>
         <td bgcolor="#330000"><div class="style3" align="right">{USERSEX}: </div></td>
         <td width="86"><label>
             </label><div align="left">
               <input name="radiobutton" value="radiobutton" type="radio">
               {MALE}</div>
           
             <div align="left"></div></td>
         <td width="133"><label>
             </label><div align="left">
               <input name="radiobutton" value="radiobutton" type="radio">
               {FEMALE}</div>
           
             <div align="left"></div></td>
       </tr>
       <tr>
         <td bgcolor="#330000"><div class="style3" align="right">{VISUALVERIFICATION}: </div></td>
         <td colspan="2"><div align="left">
			         <img width="200" height="70" src="../../inc/include/getimage.php?mode=image" alt="" /><br>
         			<input type="text" name="_visualconfirmation_" value="" />
         </div></td>
       </tr>
       <tr>
         <td><div align="right">
             <input name="_iagree_" value="iagree" type="checkbox">
         </div></td>
         <td colspan="2"><div align="left">{ACCEPTCONDITIONS} <a href="../../principal/home/conditions.php" target="_blank"><strong>{TERMSOFSALE}</strong></a> {AND} <a href="../../principal/home/privacypolicy.php" target="_blank"><strong>{PRIVACYPOLICY}</strong></a></div></td>
       </tr>
       <tr>
         <td><div align="left"></div></td>
         <td colspan="2"><div align="left"></div></td>
       </tr>
       <tr>
         <td>&nbsp;</td>
         <td colspan="2">&nbsp;</td>
       </tr>
       <tr>
         <td><!--DWLayoutEmptyCell-->&nbsp;</td>
         <td colspan="2"><div align="left">
             <input name="Submit3" class="style8" value="{SIGNUP}" type="submit">
         </div></td>
       </tr>
</table>
<div style="display:none;">
*MAIL*
*TELEFONO*
*CELULAR*
*IDIOMAS*
*NOMBRE*
*APELLIDO*
*SEXO*
*EMPRESA*
*OFICINA*
*PAIS*
*CIUDAD*
*DIRECCION*
*PISO*
*CONTACTO*
*INTERNO*
*PAGINA*
*CONTACTO*
</div>