<table align="center" border="0" width="521">
                <!--DWLayoutTable-->
                <tbody>
                <tr>
                  <td width="120"><div align="right">{USERFIRSTNAME}: </div></td>
                  <td colspan="2">*NOMBRE*</td>
                  <td colspan="2"></td>
                </tr>
				<tr>
                  <td width="120"><div align="right">{USERLASTNAME}: </div></td>
                  <td colspan="2">*APELLIDO*</td>
                  <td colspan="2"></td>
                </tr>                
                <tr>
                  <td><div align="right">{YOURPHONE}: </div></td>
                  <td colspan="2">*TELEFONO*</td>
                  <td colspan="2"><div align="left"><span class="style17">{THISAPPEARSFORWVERYONE}</span></div></td>
                </tr>
                <tr>
                  <td><div align="right">{YOURMOBILE}: </div></td>
                  <td colspan="2">*CELULAR*</td>
                  <td colspan="2"><div align="left"><span class="style17">{THISAPPEARSFORWVERYONE}</span></div></td>
                </tr>
                <tr>
                  <td><div align="right">{YOUREMAIL}: </div></td>
                  <td colspan="2">*NICK*</td>
                  <td colspan="2"><div align="left"><span class="style17">{YOUREMAILWONTAPPEAR}</span></div></td>
                </tr>
                <tr>
                  <td><div align="right">{CONFIRMYOUREMAIL}: </div></td>
                  <td colspan="2">*MAIL*</td>
                  <td colspan="2"></td>
                </tr>
                <tr>
                  <td valign="top" align="right">{LANGUAGESPOKEN}: </td>
                  <td width="22" colspan="4" valign="top" align="left">*IDIOMAS*</td>
                </tr>
              </tbody></table>
<div style="display:none;">
*PASSWORD*
*SEXO*
*EMPRESA*
*OFICINA*
*PAIS*
*CIUDAD*
*DIRECCION*
*PISO*					
*CONTACTO*
*INTERNO*
*PAGINA*
*CONTACTO*
</div>