<div id="USUARIO" class="edicion usuario">

	<!--DATOS OBLIGATORIOS-->
	<div id="NICK" class="campo">
		<label class="MAD_EDIT_TIT">{USERNICK}</label>
		<div class="MAD_EDIT_FIELD">*NICK*</div>
	</div>
	<div id="BAJA" class="campo">
		<label class="MAD_EDIT_TIT">{USERVERIFIED}</label>
		<div  class="MAD_EDIT_FIELD">*BAJA*</div>
	</div>	
	<div id="ID_CONTENIDO" class="campo hidden">
		<label class="MAD_EDIT_TIT">{USERPROFILE}</label>
		<div class="MAD_EDIT_FIELD">*ID_CONTENIDO*</div>
	</div>
	<div id="NOMBRE" class="campo">
		<label class="MAD_EDIT_TIT">{USERFIRSTNAME}</label>
		<div class="MAD_EDIT_FIELD">*NOMBRE*</div>
	</div>
	<div id="APELLIDO" class="campo">
		<label class="MAD_EDIT_TIT">{USERLASTNAME}</label>
		<div class="MAD_EDIT_FIELD">*APELLIDO*</div>
	</div>
	<div id="PASSWORD" class="campo">
		<label class="MAD_EDIT_TIT">{USERPASSWORD}</label>
		<div class="MAD_EDIT_FIELD">*PASSWORD*</div>
	</div>
	<div id="MAIL" class="campo">
		<label class="MAD_EDIT_TIT">{USEREMAIL}</label>
		<div class="MAD_EDIT_FIELD">*MAIL*</div>
	</div>


	<!--EMPRESA-->
	<div id="EMPRESA" class="campo">
		<label class="MAD_EDIT_TIT">{USERCOMPANY}</label>
		<div class="MAD_EDIT_FIELD">*EMPRESA*</div>
	</div>
	<div id="OCUPACION" class="campo">
		<label class="MAD_EDIT_TIT">{USEROCCUPATION}</label>
		<div class="MAD_EDIT_FIELD">*OCUPACION*</div>
	</div>
	<div id="OFICINA" class="campo">
		<label class="MAD_EDIT_TIT">{USEROFFICE}</label>
		<div class="MAD_EDIT_FIELD">*OFICINA*</div>
	</div>

	<!--DIRECCION-->
	<div id="PAIS" class="campo">
		<label class="MAD_EDIT_TIT">{USERCOUNTRY}</label>
		<div class="MAD_EDIT_FIELD">*PAIS*</div>
	</div>
	<div id="PROVINCIA" class="campo">
		<label class="MAD_EDIT_TIT">{USERREGION}</label>
		<div class="MAD_EDIT_FIELD">*PROVINCIA*</div>
	</div>
	<div id="CIUDAD" class="campo">
		<label class="MAD_EDIT_TIT">{USERCITY}</label>
		<div class="MAD_EDIT_FIELD">*CIUDAD*</div>
	</div>		
	<div id="DIRECCION" class="campo">
		<label class="MAD_EDIT_TIT">{USERADDRESS}</label>
		<div class="MAD_EDIT_FIELD">*DIRECCION*</div>
	</div>
	<div id="PISO" class="campo">
		<label class="MAD_EDIT_TIT">{USERFLOOR}</label>
		<div class="MAD_EDIT_FIELD">*PISO*</div>
	</div>
	<div id="CP" class="campo">
		<label class="MAD_EDIT_TIT">{USERCP}</label>
		<div class="MAD_EDIT_FIELD">*CP*</div>
	</div>
	<div id="NACIMIENTO" class="campo">
		<label class="MAD_EDIT_TIT">{USERBIRTHDATE}</label>
		<div class="MAD_EDIT_FIELD">*NACIMIENTO*</div>
	</div>
						

	<!--DATOS ADICIONALES-->
	<div id="SEXO" class="campo">
		<label class="MAD_EDIT_TIT">{USERSEX}</label>
		<div class="MAD_EDIT_FIELD">*SEXO*</div>
	</div>
	<div id="TELEFONO" class="campo">
		<label class="MAD_EDIT_TIT">{USERPHONENUMBER}</label>
		<div class="MAD_EDIT_FIELD">*TELEFONO*</div>
	</div>
	<div id="CELULAR" class="campo">
		<label class="MAD_EDIT_TIT">{USERCELLNUMBER}</label>
		<div class="MAD_EDIT_FIELD">*CELULAR*</div>
	</div>
	<div id="INTERNO" class="campo">
		<label class="MAD_EDIT_TIT">{USERINTERNALNUMBER}</label>
		<div class="MAD_EDIT_FIELD">*INTERNO*</div>
	</div>
	<div id="PAGINA" class="campo">
		<label class="MAD_EDIT_TIT">{USERWEBPAGE}</label>
		<div class="MAD_EDIT_FIELD">*PAGINA*</div>
	</div>
	<div id="CONTACTO" class="campo">
		<label class="MAD_EDIT_TIT">{USERCONTACT}</label>
		<div class="MAD_EDIT_FIELD">*CONTACTO*</div>
	</div>
	<div id="IDIOMAS" class="campo">
		<label class="MAD_EDIT_TIT">{USERLANGUAGES}</label>
		<div class="MAD_EDIT_FIELD">*IDIOMAS*</div>
	</div>

</div>